body, html{
height: 100%;
margin: 0;
}
.hoja{
    background: #FFF;
    width: 595px; 
    height:  842px;
    -webkit-box-shadow: -2px 3px 46px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 3px 46px 1px rgba(0,0,0,0.75);
    box-shadow: -2px 3px 46px 1px rgba(0,0,0,0.75);   
    margin: 1%;
    margin-left: 11%;
}

.borderHoja{
    height: 800px;
    width: 95.5%;
    overflow-y: auto;
    background: #f5f5f5 ;
    min-height: 100px;
    left: 0;
}

.elementFrame{
   height: 15%;width: 15%;border:1px solid #000000;
}

.panelElements{
    height: 150px;
    width: 100%;
    overflow-y: auto;
}
.propertiesElements{
    height: 500px;
    width: 100%;
    overflow-y: auto;
    color: #FFF;
}      
.titleProperties{
      position: absolute;
      left: 33%;
}
.boxPropertie{
  border:1px solid #000000;
}
.buttonTab{
      background: #888;
      border-radius: 5px 5px 5px 5px;
      -moz-border-radius: 5px 5px 5px 5px;
      -webkit-border-radius: 5px 5px 5px 5px;
      border: 0px solid #000000;
      width: 32px;  
      cursor: pointer;   
      padding: 5px;
	  color:#fff !important
}
li.buttonTab i{
      color:#fff !important
}
.buttonTab.active{
  background-color: #333;
  padding: 6px;
  color:#fff !important
}      

li{
  cursor: pointer;
}

.containerProperties,.containerPropertiesEspecific{
  overflow-y: auto;
  margin-top: 8%;
  height: 50%;
  padding: 0;
  background: #f1f1f1;
}

.inputPropertie{
    left: 0;
    position: absolute;
    max-width: 99%;
    background: #13566E;
    border: none;
    margin: 1%;    
}

.select{
  color: black;
  position: absolute;
  left: 0;
  width: 99%;  
}

.checkbox{
    position: absolute;
    left: 40%;
}

.dropdown-static{
  background-color: #397ee5;
  text-align: center;
  left: -100%;
  cursor: pointer;
}


.dropdown-line {
    border-top: 6px solid #191919;
    border-width: thin;
    width: 100px;
    margin-top: 2%;
}

.dropdown-div {
    cursor: pointer;
}
.dropdown-dashed {
    border-top: 6px solid #191919;
    border-width: thin;
    width: 100px;
    margin-top: 2%;
    border-style: dashed;
}

.dropdown-double {
    border-top: 6px solid #191919;
    border-width: thin;
    width: 100px;
    margin-top: 2%;
    border-style: double;
}
    
.elementText{

  /*PARA DESACTIVAR EL HIGHLIGHTING DEL TEXTO*/
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.desabledHighl{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.textArea{
    resize: none;
    overflow:hidden;
    width: 100%;
    height: 100%;
}

.elementSelected{
    border: 6px solid #005a8e;
}

.unselected{
    opacity: 0.7;
}

.gutter {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url('./../img/grips/vertical.png');
}

.gutter.gutter-vertical {
    cursor: row-resize;
}

.buttonClick{
    color: rgba(31, 136, 255, 0.68);
}


.staticText{
    height: 50px;
    width: auto;
    display: inline-table;
    min-width: 50px;
    min-height: 50px;
}

.title:empty:not(:focus):before {
    content: attr(data-placeholder)
}


.customRes{
    width: 3%;
}
.skin-yellow .main-header .navbar {
    background-color: #f1f1f1 !important;
}
.yellow {
    color: #f39c12 !important;
}
.light-yellow {
    color: #fbc063 !important;
}
.gray {
    color: #848484 !important;
}
.orange {
    color: #ff0000 !important;
}
.dark-blue {
    color: #0f3271 !important;
}
.control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a, .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a:hover, .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a:focus, .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a:active {
    background: #f3f3f3 !important;
    color: #555 !important;
	border-top: 1px solid #ccc;
padding: 3px;
margin-top: 6px;
}
.control-sidebar-dark, .control-sidebar-dark + .control-sidebar-bg {
    background: #fff !important;
}
.control-sidebar-dark .control-sidebar-heading, .control-sidebar-dark .control-sidebar-subheading {
    color: #333;
}
.control-sidebar-menu .menu-icon {
    float: left;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    background: transparent !important;
    color: #333 !important;
}
.control-sidebar-menu .menu-info {
    margin-left: 26px;
    margin-top: 8px;
}
.control-sidebar-dark .control-sidebar-menu > li > a:hover {
    background: #ccc !important;
}
.vertical-menu .cm_vertical, .vertical-menu .mm_vertical {
    border-left: 1px solid #848484 !important;
}
.skin-yellow .main-sidebar, .skin-yellow .left-side {
    background-color: #f5f5f5;
}
.skin-yellow .sidebar-menu > li.header {
    color: #333 !important;
    background: #ddd !important;
}
.skin-yellow .sidebar-menu > li.active > a, .skin-yellow .sidebar-menu > li.menu-open > a {
    color: #555 !important;
    background: #fcfcfc !important;
}
.skin-yellow .sidebar-form input[type="text"], .skin-yellow .sidebar-form .btn {
    box-shadow: none;
    background-color: #ddd !important;
    border: 1px solid transparent;
    height: 25px !important;
}
.skin-yellow .sidebar-form {
    border-radius: 3px !important;
    border: 1px solid #848484 !important;
    margin: 10px 10px;
}
 .skin-yellow .main-sidebar, .skin-yellow .left-side {
    background-color: #fff !important;
}
.navbar.navbar-static-top ul li {
	color:#888 !important;
}
.sidebar-menu > li > a {
    padding: 10px 5px 9px 11px !important;
}
.content-wrapper {
    background: #cdcdcd !important;
}
.sidebar {
    padding-bottom: 10px;
    border-right: 1px solid #888;
}
.skin-yellow .main-header .navbar {
    background-color: #f39c12;
    border-bottom: 1px solid #888;
}

.div-style{
    display: none;
}